body {
    text-align: center;
    font-family: Arial;
    background: dodgerblue;
    color: black;
}

ul{
    text-align: left;
}

.button {
    position: absolute;
    display: none;
    padding: 10 20;
    font-size: 16;
    color: rgb(0, 0, 0);
    background-color: red;
    text-align: center;
    text-decoration: none; /* Removes the underline */
    cursor: pointer;
    border: none;
    outline: auto;
}